/* price section */
.price {
  background-color: #f9f9f9;
}
.card-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #8a8a8a;
  padding: 30px 70px;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s ease-in-out;
}
.card-price:hover .price-value {
  color: white;
}
.card-price:hover button {
  background-color: #378bbb;
  color: white;
}
.card-price:hover .price-title {
  color: #378bbb;
}
/* .card-price::after {
  width: 100%;
  height: 0%;
  content: "";
  background-color: #333;
  top: 0;
  position: absolute;
  transition: height .5s;
  z-index: -1;
}
.card-price:hover::after {
  height: 100%;
} */

.card-price-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}
.price-title {
  text-transform: capitalize;
  color: #7c7c7c;
}
.price-value {
  text-align: center;
  margin-top: 30px;
  border: 1px solid #378bbb;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  padding: 30px;
  margin: 50px auto;
}
.price-value span {
  text-transform: uppercase;
}
.price-info {
  list-style: none;
  line-height: 1.5;
  color: #7c7c7c;
}
.value {
  padding-bottom: 10px;
  font-size: 2rem;
}
.value span {
  display: inline-block;
  font-weight: bold;
}
.price button {
  margin-top: 30px;
  padding: 10px 30px;
  background-color: #fff;
  outline: none;
  border: 1px solid #378bbb;
  color: #378bbb;
  text-transform: capitalize;
}
